.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 300px;
    padding: 23px 15px;
    margin: calc(25px / 2);
    position: relative;
}

.frontCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frontCardTitle {
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

.card ion-icon {
    font-size: 20px;
}

.frontCardred {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frontCardred ion-icon {
    color: #FF3030;
}

.frontCardyellow ion-icon {
    color: #FF922E;
}

.frontCardgreen ion-icon {
    color: #2FBE34;
}

.frontCardyellow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frontCardgreen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frontCardTitlered {
    font-weight: 700;
    font-size: 16px;
    color: #FF3030;
    text-decoration-line: line-through;
}

.frontCardTitleyellow {
    font-weight: 700;
    font-size: 16px;
    color: #FF922E;
    text-decoration-line: line-through;
}

.frontCardTitlegreen {
    font-weight: 700;
    font-size: 16px;
    color: #2FBE34;
    text-decoration-line: line-through;
}

.cardQuestion {
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 300px;
    padding: 23px 15px 92px 15px;
    margin: calc(25px / 2);
    position: relative;
}

.setinha {
    position: absolute;
    width: 30px;
    right: 15px;
    bottom: 6px;
}

.buttonsMenu {
    position: absolute;
    width: 270px;
    bottom: 6px;
    display: flex;
    justify-content: space-between;
}

.buttonsMenu button {
    width: 85.17px;
    height: 37.17px;
    border-radius: 5px;
    border: none;
}

.redButton {
    background-color: #FF3030;
}

.yellowButton {
    background-color: #FF922E;

}
.greenButton {
    background-color: #2FBE34;
}