/* LISTA DE FONTES */
/* body {
    font-family: 'Recursive', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
} */

/* REGRA GERAL */
* {
    box-sizing: border-box;
}

/* FONTE MAIS COMUM E PADRÃO */
body {
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #FB6B6B;
    /* FUNDO GERAL */
}

/* ESTILOS DA TELA INICIAL */
.startScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(50vh - 97px);/* 194px = altura de startScreen */
}

.startTitle {
    font-family: 'Righteous', cursive;
    font-size: 25px;
    color: #FFFFFF;
}

.startImage {
    width: 55px;
}

.startButton {
    width: 141px;
    height: 31px;
    margin-top: 73px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    color: #D70900;
}

/* ESTILOS DA TELA DE CARDS */
.cardScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ESCONDIDO */
.hidden {
    display: none;
}